<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments :: head">
	<title>aggiungi pizza</title>
</head>

<body>
	<header th:insert="fragments/navbar :: navbar('pizze/create')"></header>

	<main class="container">
		<div class:"row">
			<div class:"col-12">

				<h1 class="mb-4">modifica la pizza "[[ ${ pizza.nome } ]]" </h1>
				<form id="pizza-Form" th:object=${pizza} th:action="@{/pizze/edit/{id}(id=${pizza.id})}" method="POST">
					<!--	<th:block th:if="${#fields.hasErrors()}">
					<ul class="alert alert-danger p-2">
						<li class="ps-4"
						 th:each="err : ${#fields.allErrors()}" 
						 th:text="${err}">
						</li>
					</ul>
					</th:block>
					-->

					<div class="mb-3">
						<label for="nome" class="form-label">Nome della pizza </label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">

						<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class="mb-3">
						<label for="descrizione" class="form-label">descrizione</label>
						<textarea class="form-control" id="descrizione" rows="3" th:field="*{descrizione}"
							th:errorClass="is-invalid">></textarea>
						<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class="mb-3">
						<label for="url" class="form-label">URL Foto: </label>
						<input type="text" class="form-control" id="url" th:field="*{urlFoto}"
							th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('urlFoto')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('urlFoto')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class="mb-3">
						<label for="prezzo" class="form-label">prezzo: </label>
						<input type="number" step="0.01" class="form-control" id="prezzo" th:field="*{prezzo}"
							th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>
					<div class=" mb-3 text-center">
						<input type="submit" class=" btn btn-sm btn-danger me-auto" value="modifica la pizza">
						<input type="reset" class=" btn btn-sm btn-warning " value="reset">
						<a class="btn btn-sm btn-primary me-auto" th:href="@{/pizze}">home</a>
						
					</div>
				</form>
			</div>
		</div>
	</main>
	<footer th:insert="fragments/fragments :: footer"></footer>
</body>

</html>