<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments :: head">
	<title>Lista Pizze</title>
</head>

<body>
	<header th:insert="fragments/navbar :: navbar('pizze')"></header>

	<main class="container">
		<div class:"row">
			<div class:"col-12">
				<h1 class="mb-4">Le Nostre Pizze</h1>
				<div class:"row justify-content-center">
					<div th:if="${pizze.isEmpty()}">
						<p class="alert alert-warning">Non ci sono pizze al momento.</p>
					</div>
					<div class="row" th:unless="${pizze.isEmpty()}">
						<div class="col-md-4" th:each="pizza : ${pizze}">
							<div class="card mb-4">
								<img th:src="${pizza.urlFoto}" class="card-img-top" alt="Foto di ${pizza.nome}">
								<div class="card-body">
									<h5 class="card-title" th:text="${pizza.nome}"></h5>
									<!-- <p class="card-text" th:text="${pizza.descrizione}"></p> -->
									<p class="card-text"><strong th:text="${pizza.prezzo} + ' €'"></strong></p>
									<div>
										<a th:href="@{/pizze/show/{id}(id=${pizza.id})}"
											class="btn btn-sm btn-primary">
											show
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:insert="fragments/fragments :: footer"></footer>
</body>

</html>

<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments/fragments :: head" >
	</head>
	<body>
		<header th:insert="fragments/navbar :: navbar('pizze')"></header>
		<main>
			<div class="row">
			</div>





		</main>
	</body>
	
	<footer th:replace="fragments/fragments :: footer"></footer>
	<th:block th:replace="fragments/fragments :: scripts"></th:block>
</html>
!-->